:root {
    --sideSpace: 3rem;
}

:root.lightTheme {
    --text-color:#000000;
    --background-color:#efefef;
    --chameleon-eye: #333E48;
    --chameleon-spot-color: #28B07F;
    --chameleon-BackLeg-Color: #007348;
    --chameleon-FrontLeg-Color: #00945E;
    --chameleon-Body-Color: #05CE7C;
}

:root.darkTheme {
    --text-color:#efefef;
    --background-color:#000000;
    --chameleon-eye: #f49cff;
    --chameleon-spot-color: #f49cff;
    --chameleon-BackLeg-Color: #7b1c6b;
    --chameleon-FrontLeg-Color: #90047d;
    --chameleon-Body-Color: #b02899;
}

body {
    overflow: hidden;
    font-size: calc(1em + 0.5vw);
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.5s ease;
}

main {
    display: flex;
    flex-direction: column;
}

#containerHeader {
    width: calc(900px + 1vh);
    height: calc(120px + 1vw);
    align-self: center;
    display: flex;
}

h1 {
    margin: 10px auto;
}

p {
    margin: 5px auto;
}

#headerAnimationDiv {
    height: calc(100px + 1vh);
    width: calc(100px + 1vh);
    background-color: #285ab0;
    border: 2px solid #456bac;
    border-radius: 50%;
    position: absolute;
    margin-left: calc(50% - (calc(100px + 1vh) / 2));
    margin-top: 16px;
    display: flex;
    padding: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.sunLight {
    transition: all 0.5s linear;
}

.sunDark {
    translate: -225px;
    transition: all 0.5s linear;
}

#sunAndMoon {
    transform: translateY(-224px);
}

#Vector_1 {
    fill: #231F20;
}

.moonLight {
    fill: #231F20;
    translate: 240px;
    transition: all 0.5s linear;
}

.moonDark {
    fill: #231F20;
    transition: all 0.5s linear;
}

#svgContainer {
    height: 450px;
    width: calc(900px + 1vh);
    background-color: #285ab0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    align-self: center;
    border: 8px #456bac solid;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

#svgChameleon {
    transform: scale(2.5);
}

#chameleonEye {
    fill: var(--chameleon-eye);
    transition: 1s ease;
}

.chameleonSpotColor {
    fill: var(--chameleon-spot-color);
    transition: 1.5s ease;
}

.chameleonFrontLegColor {
    fill: var(--chameleon-FrontLeg-Color);
    transition: 1.75s ease-out;
}

.chameleonBackLegColor {
    fill: var(--chameleon-BackLeg-Color);
    transition: 1.5s ease-out;
}

.chameleonBodyColor {
    fill: var(--chameleon-Body-Color);
    transition: 3s ease;
}

#toggleButton {
    color: white;
    padding: calc(9px + 0.05vw) calc(19px + 0.05vw);
    background-color: #285ab0;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#toggleButton:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }


/* https://colors.muz.li/palette/28B07F/1c7b6a/b02899/7b1c6b/b08f28 */